<?xml version="1.0"?>
<!--
Web.config file for Company.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies />
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="constr" connectionString="Server=localhost;Database=GUC_WEB;User ID=sa;Password=reallyStrongPwd123;Trusted_Connection=False;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>