<?xml version="1.0"?>
<!--
Web.config file for Company.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies/>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="constr" connectionString="Server=localhost;Database=GUC_WEB;User ID=sa;Password=reallyStrongPwd123;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>